# API URL for BACKEND
NEXT_DEV_API_BASEURL=http://localhost:8080

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET='mRK_eXRmZKvy5YlmrxWgLEseTHxhJ7KSB3zh-wajEA_dqZVQOk9D4lcUQOBY2J_OO5qN4neai3lYHeGz1sNMvyb4xrdXx_ExjCf8' # if it used in production, use the hardest secret code

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE" # Customize your database configuration
